a{
    color: black;
}

a:hover{
    color:#FFBB33
}

.project_container {
    padding: 2em;
}

.contact_container{
    padding-top: 2%;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.social_list{
    padding: 4%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li{
    margin: 0 1em;
    transition: 0.5s;
}

.social_list li:hover{
    color: #FFBB33;
    transform: scale(1.2);
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
}