.container{
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height{
    min-height: 75%;
}
